*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app-container {
    min-height: 100vh;
    background-color: black;
    position: relative;
    background-image:url('image/background1.png');
    background-repeat: no-repeat;
    background-position: center;
}

.nav-bar{
    display: flex;
    flex-direction: row;
    padding: 15px 0px;
    justify-content: space-between;
    background-color: #000000;
    position: sticky;
    top: 0;
    z-index: 100;
    
}
.nav-bar .logo{
    color: white;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    padding: 0px 20px;
}
.nav-bar .logo img{
    display: flex;
    flex-direction: column;
}
.nav-bar .menus{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.nav-bar .menus li{
    list-style: none;
    margin: 0 10px;
    padding: 0 20px;
    margin-right: 40px;
}
.nav-bar .menus a{
    text-decoration: none;
    color: #ddd2d2;
    font-size: 18px;
    font-family: Helvetica;
    transition: 0.5s;
}

.nav-bar .menus a:hover{
    color:#7A38FC;
    transform: scale(1.1);
}
.nav-bar .contact li{
    list-style: none;
    margin: 0 10px;
    padding: 10px 25px;
    margin-right: 40px;
    border: 1px solid #7A38FC;
    border-radius: 10px;
    background-color: #7A38FC;
    transition: 0.5s;
}

.nav-bar .contact a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 0px 15px;
}

.nav-bar .contact :hover {
    box-shadow: #7A38FC 0px 0px 20px;
    

}

/* Main content */

.main.content{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 300px;
    left: 200px;
}
.main.content .about{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.main.content .about .date h5{
    color: rgb(255, 255, 255);
    font-family: Roboto;
    
}
.main.content .about .name h1{
    margin-top: 10px;
    font-size: 50px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    background: linear-gradient(90deg,#77d0e4,#3f99d1,#0066ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}
.blaze{
    margin-top: 10px;
    font-size: 50px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    
    background: linear-gradient(90deg,#F3B03B,#EC8654,#DC5444);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.main.content .about .description h5{
    color: #8D8B8B;
    margin-top: 10px;
}
.main.content .about .join-now{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    padding-left: 0px;
    gap: 70px;
    
}
.main.content .about .join-now .register{
    transition: 0.5s;
    box-shadow: #7A38FC 0px 0px 20px;
}
.main.content .about .join-now .register a{
    text-decoration: none;
    color: white;
    background-color: #7A38FC;
    padding: 10px 25px;
    border-radius: 10px;
}

.main.content .about .join-now .register:hover{
    transform:scale(1.1);
}


.main.content .about .join-now .schedule a{
    text-decoration: none;
    color: white;
    border: 1px solid #7A38FC;
    padding: 10px 25px;
    border-radius: 10px;

}

.main.content .about .join-now .schedule:hover {
    transform:scale(1.1);
    transition: 0.5s;
}
.image{
    position: absolute;
    top: 220px;
    left: 750px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0px 100px;
}
.image img{
    padding: 0px 10px;
}
.image .img11{
    border-radius: 50px 0px 0px 0px;
}
.image .img12{
    border-radius: 0px 50px 0px 0px;
}
.image .img21{
    border-radius: 0px 0px 0px 50px;
}
.image .img22{
    border-radius: 0px 0px 50px 0px;
}

/*    Gallery-container   */
.Gallery-container{
    padding: 50px 0px;
    position: relative;
    background-image: url(image/blck.jpg);
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
}
.Gallery-container .header{
    text-align: center;
    margin-bottom: 50px;
    
}
.Gallery-container .header h1{
    color:#7A38FC ;
}
.Gallery-container .header h5{
    color: #ffeeee;
    margin-top: 20px;
}

.Gallery-container .gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;         
    gap: 20px; 
}
.Gallery-container .gallery .images{
    margin: 20px 0px;
    
}
.Gallery-container .gallery .images img{
    margin-left: 30px;
    border-radius: 20px;
    box-shadow: #5288da 0px 0px 10px;
    transition: 0.5s;
} 

.Gallery-container .gallery .images img:hover{
    transform: scale(1.1);
}


.Gallery-container .gallery .top-image1{
    position: relative;
    bottom: 100px;
    z-index: 1;
}
.Gallery-container .gallery .top-image2{
    position: relative;
    bottom: 110px;
    z-index: 1;
}
.Gallery-container .gallery .top-image3{
    position: relative;
    bottom: 190px;
}
.Gallery-container .btn{
    text-align: center;
    margin-top: 50px;
}    
.Gallery-container a{
    text-decoration: none;
    background-color: #7A38FC;
    padding: 10px 40px;
    color: white;
    border-radius: 10px;
    transition: 0.5s;
}
.Gallery-container a:hover{
    box-shadow: #7A38FC 0px 0px 20px;
}
    
/* Achievement content */
.Achievement{
    background-image: url(image/achievement.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.Achievement-content{
    color: white;
    position: relative;
    padding: 50px 140px;
    left:0px;
    bottom: 20px;
    height: 600px;
    border-radius: ;

    
    
}
.Achievement-content .title{
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    color: rgb(255, 255, 255);
}
.Achievement-content .title a{
    text-decoration: none;
    background-color: #7A38FC;
    padding: 17px 30px;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: #7A38FC 0px 0px 10px;
    
}
.Achievement-contentt .common-Achievers img{
    border-radius: 30px 30px 0px 0px;
} 
.Achievement-content .Achievers-detail{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    gap: 40px;
}
.Achievement-content .Achievers-detail h3{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    padding: 5px 20px;
    padding-top: 15px;
}
.Achievement-content .Achievers-detail h6{
    font-family: 'Roboto', sans-serif;
    padding-left:  20px;
    
}
.Achievement-content .common-Achievers{
   background-color:#03045E;
   height: 335px;
   border-radius: 20px;
}    
.footer{
    background-color: #ffffff;
    padding: 50px 0px;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 100%;
}
.footer .Notify{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer .Notify h1{
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    padding: 10px 120px;
    
}   
.footer .Notify h5{
    font-size: 15px;
    font-family:Arial ;
    padding: 10px 120px;
    color: grey;
}
.footer .Subscribe{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 20px 0px;

}
.footer .Subscribe input{
    padding: 10px 50px;
    border: 1px solid black;
    font: 12px Arial;
    border-radius: 5px;
}
.footer .Subscribe button{
    padding: 10px 30px;
    border: 1px solid black;
    background-color:  #7A38FC;
    border-style: none;
    border-radius: 5px;
    transition: 0.5s;
}
.footer .Subscribe button a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}
.footer .Subscribe button:hover{
    box-shadow: #7A38FC 0px 0px 10px;
}
