*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    cursor: crosshair;
}
.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
    scroll-behavior:smooth; 
}

.video-background video {
  width: 100%;
  height: 100%;
  object-fit: cover;       
}
.app-container{
    min-height: 100vh;
    scroll-behavior:smooth;
   
    
}
/* Nav- bar */
.nav-bar{
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 0;
    z-index: 1000;
    justify-content: space-between;
    background: rgba(10, 0, 20, 0.6); /* Deep space-like transparency */
    backdrop-filter: blur(12px);
    box-shadow: 0 0 25px rgba(122, 56, 252, 0.3);
    padding: 12px 60px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.nav-bar .logo{
    margin-left: 40px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    color: #fff;
    text-shadow: 0 0 10px #A855F7, 0 0 25px #E11D48;
    letter-spacing: 1px;
}
.logo:hover {
    text-shadow: 0 0 25px #C77DFF, 0 0 50px #FF2E63;
}
.nav-bar .logo h1{
    font-family: Avanta Garde;
}
.nav-bar .menus{
    margin-left: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 20px;
}
.nav-bar .menus li{
    list-style: none;
    margin: 0 10px;
    padding: 0 20px;
    margin-right: 40px;
}
.nav-bar .menus a{
    text-decoration: none;
    color: #ddd2d2;
    font-size: 18px;
    font-family: Times New Roman;
    transition: 0.5s;
    position: relative;
}
.nav-bar .menus a:hover{
    color: #EAEAEA;
    transform: scale(1.1);
    text-shadow: 0 0 10px #7A38FC, 0 0 20px #FF2E63;
}
.nav-bar .menus a::after{
    content: '';
    position: absolute;
    top: 20px;
    left: 0px;
    height: 2px;
    width: 0;
    transition-duration: 100ms;
    background: linear-gradient(90deg, #FF2E63, #7A38FC);
    transition: width 0.3s ease;
    box-shadow: 0 0 8px #7A38FC, 0 0 15px #FF2E63;
}
.nav-bar .menus a:hover:after{
    width: 100%;
}
.nav-bar .Current-page::after{
    animation: fade-in-out 2s infinite;
}
@keyframes fade-in-out{
    0%,100%{
        width: 0;
    }
    50%{
        width: 100%;
    }
}
/* About C*/
.nav-bar .menus .about-dec{
    position: absolute;
    height: 100px;
    width: 170px;
    background-color: #000000;
    top: 50px;
    right: 808px;
    padding: 0px 0px;
    justify-content: space-between;
    display: none;
}
.nav-bar .menus .about-dec li{
    list-style: none;
    margin: 0px 0px;
}
.nav-bar .menus .about-dec a{
    color:#00ffe7;
    font-size: 15px;
    font-family:'Times New Roman', Times, serif ;
    text-decoration: none;
    font-weight: 150;
    transition: background 0.3s ease, color 0.3s ease;

}
.nav-bar .menus .about-dec a:hover{
    background-color: #000000;
    color: #00ffe7;
}

.nav-bar .menus .about-dec .about-univ{
    height: 50%;
    padding: 15px 0px;
}
.nav-bar .menus .about-dec .about-univ:hover{
    background-color: #000000;
    color: #00ffe7;
}
.nav-bar .menus .about-dec .about-dept{
    background-color: #000000;
    height: 50%;
    padding: 15px 0px;
}
.nav-bar .menus .about-dec .about-dept:hover{
    color: #00ffe7;
}
.nav-bar .menus .about-dec .about-event{
    background-color: #000000;
    height: 50%;
    padding: 15px 0px;
}
.nav-bar .menus .about-dec .about-event:hover{
    color: #00ffe7;
}
/* Event C*/
.nav-bar .menus .event-dec{
    position: absolute;
    height: 100px;
    width: 150px;
    background-color: #000000;
    color: #00ffe7;
    top: 50px;
    right: 685px;
    padding: 0px 0px;
    justify-content: space-between;
    display: none;
}
.nav-bar .menus .event-dec li{
    list-style: none;
    margin: 0px 0px;
}
.nav-bar .menus .event-dec a{
    color: #00ffe7;
    font-size: 15px;
    font-family:'Times New Roman', Times, serif ;
    text-decoration: none;
    font-weight: 150;
    transition: background 0.3s ease, color 0.3s ease;

}
.nav-bar .menus .event-dec a:hover{
    color: #00ffe7;
}
.nav-bar .menus .event-dec .Tech{
    background-color: #000000;
    height: 50%;
    padding: 15px 0px;
}
.nav-bar .menus .event-dec .Tech:hover{
    color: #00ffe7;
}
.nav-bar .menus .event-dec .Non-tech {
    background-color: #000000;
    height: 50%;
    padding: 15px 0px;
}
.nav-bar .menus .event-dec .Non-tech:hover{
    color: #00ffe7;
}

/*Contact*/
.nav-bar .Credentail{
    transition: 0.5s;
    animation: fadein 2s infinite;
    display: flex;
    flex-direction: row;
    margin-top: 3px;
}
@keyframes fadein{
    0%,100%{
        opacity: 0.7;
    }
    50%{
        opacity: 1;
    }
}

.nav-bar .Credentail li{
    list-style: none;
    padding: 4px 15px;
    border-radius: 5px;
    background: linear-gradient(90deg, #7A38FC, #FF2E63);
    color: #fff;
    box-shadow: 0 0 10px #7A38FC, 0 0 20px #FF2E63;
    transition: 0.3s;
}

.nav-bar .Credentail a{
    text-decoration: none;
    color:#FEF2E2;
    font-size: 18px;
    padding: 0px 10px;
}
.nav-bar .Credentail .login:hover {
    transition: 0.5s;
    transform: scale(1.1);
    
}

/* profile */
.profile{
    color: #ffffff;
    margin: 2px 0px;
    cursor: pointer;
    scroll-behavior: smooth;
    visibility: hidden;
}
.profile .fa-circle-user{
    font-size: 32px;
}
.profile-detail{
    height: 240px;
    width: 200px;
    overflow-x: auto;
    background: #0A0A0A;
    box-shadow: 0 0 15px #7A38FC50;
    color: #ffffff;
    position: absolute;
    right: 20px;
    top: 55px;
    border-radius: 5px;
    display: none;
    transition: 0.5s;
}
.profile-detail img{
    border-radius: 50%;
    padding: 0 20px;
    margin: 5px 20px;
    
}
.profile-detail h4{
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    padding: 5px 0;
    text-align: center;
}
.icon{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top:15px ;
}
.icon .com-icon{
    height: 30px;
    width: 30px;
    color: #000000;
    padding: 6px 5px;
    border-radius: 5px;
}

/* Gallery */
.Gallery-container{
    margin: 20px 240px;
    position: relative;
}
.Gallery-container .header{
    text-align: center;
    margin-bottom: 50px;
    color: #ffffff;
}
.Gallery-container h1{
    overflow: hidden;
    margin: 0 auto;
    white-space: nowrap;
    animation: typing 5s steps(50,end) infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}


.Gallery-container h5{
    margin-top: 20px;
    color: #efe6e6;
}
.Gallery-container .gallery {
    align-items: center;
}
.Gallery-container .gallery .image{
    margin: 20px 0px;
}
.Gallery-container .gallery .image img{
    margin-left: 30px;
    border-radius: 20px;
    box-shadow: #000000 0px 5px 15px;
    transition: 0.5s;
} 
.Gallery-container .gallery .image img:hover{
    opacity: 0.5;    
}
.Gallery-container .gallery .top-image1{
    position: relative;
    bottom: 100px;
    z-index: 1;
}
.Gallery-container .gallery .top-image2{
    position: relative;
    bottom: 100px;
    z-index: 1;
}
.Gallery-container .gallery .top-image3{
    position: relative;
    bottom: 80px;
    
}
.vdo-container{
    height: 1240px;
    width: 1500px;
    position: relative;
}
.vdo-container h5{
    margin-top: 100px;
    font-size: 20px;
    text-align: center;
    color: #efe6e6;
    text-shadow: #d36d6d 0px 5px 5px;
    
}
.video{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}
.video .vdo1 img{
    position: absolute;
    left: 315px;
}
.video .vdo1 video{
    position: absolute;
    top: 24px;
    right: 280px;
}
.video .vdo2{
    position: absolute;
    right: 0px;
    top: 440px;
    left: 620px;
}
.video .vdo2 .img1{
    position: absolute;
    right: 905px;
    top: 110px;
}
.video .vdo2 .img3{
    position: absolute;
    left: 370px;
}
.video .vdo3 video{
    position: absolute;
    right: 0px;
    top: 730px;
    left: 315px;
}
.video .vdo3 img{
    position: absolute;
    right: 280px;
    top: 864px;
}

/* Footer */

.footer{
    display: flex;
    flex-direction: column;
}
.footerdiv{
    background-color:#000000;
    color: white;
    height: auto;
    width:auto;
    display: flex;
    flex-direction: row;
    padding: 40px 270px;
    gap: 80px;
}
.footerdiv .media{
    display: flex;
    flex-direction: row;
}
.footerdiv .map iframe{
    border-radius: 10px;
} 
.footerdiv .map h1 ,.detail h1{
    font-size: 25px;
    color: rgb(255, 208, 0);
}
.footerdiv .detail{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 10px;
}

.footerdiv .detail .reachout,.media{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.footerdiv .detail .reachout h5{
    font-weight: 200
}
.footer .copyright{
    height: 50px;
    background-color: #000000;
    text-align: center;
    color:rgb(255, 255, 255) ;
    border-top: 1px solid rgb(59, 55, 55); 
    display: flex;
    justify-content: center;
    align-items: center;
}