*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app-container {
    min-height: 100vh;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #ffffff;
}

.nav-bar{
    display: flex;
    flex-direction: row;
    padding: 15px 0px;
    justify-content: space-between;
    background-color: #000000;
    position: sticky;
    top: 0;
    z-index: 100;
    
}
.nav-bar .logo{
    color: white;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    padding: 0px 20px;
}
.nav-bar .logo img{
    display: flex;
    flex-direction: column;
}
.nav-bar .menus{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.nav-bar .menus li{
    list-style: none;
    margin: 0 10px;
    padding: 0 20px;
    margin-right: 40px;
}
.nav-bar .menus a{
    text-decoration: none;
    color: #ddd2d2;
    font-size: 18px;
    font-family: Helvetica;
    transition: 0.5s;
}

.nav-bar .menus a:hover{
    color:#7A38FC;
    transform: scale(1.1);
}



.nav-bar .contact{
    transition: 0.5s;
}

.nav-bar .contact li{
    list-style: none;
    margin: 10 10px;
    padding: 10px 25px;
    margin-right: 40px;
    border: 1px solid #7A38FC;
    border-radius: 10px;
    background-color: #7A38FC;
}

.nav-bar .contact a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 15px 15px;
}

.nav-bar .contact:hover {
    transform: scale(1.1);
   
}
.Achievement-content{
    margin: 70px 100px;
    align-items: center;
    justify-self: center;
    
}
.Achievement-content .title{
    align-items: center;
    margin: 0px 340px;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    color: rgb(0, 0, 0);
}

.Achievement-contentt .common-Achievers img{
    border-radius: 30px 30px 0px 0px;
} 
.Achievement-content .Achievers-detail{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    gap: 40px;
}
.Achievement-content .Achievers-detail h3{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    padding: 5px 20px;
    padding-top: 15px;
    color: white;
}
.Achievement-content .Achievers-detail h6{
    font-family: 'Roboto', sans-serif;
    padding-left:  20px;
    color: white;
    
}
.Achievement-content .common-Achievers{
   background-color:#030648;
   height: 335px;
   border-radius: 30px;
}    

/* Footer */

.footer{
    background-color:#000000;
    color: white;
    height: 400px;
    width:auto;
    display: flex;
    flex-direction: row;
    padding: 70px 320px;
    justify-content: space-between;
}
.footer .address {
    
}
.footer .address h2{
    margin-top: 2px ;
    margin-bottom: 20px;
    color: #ffffff;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.footer .address p{
    margin-top: 10px;
    padding-top: 8px;
    color: #e4dcdc;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.footer .explore h2{
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.footer .explore li{
    list-style: none;
    margin-top: 10px;
    padding-top: 10px;
}
.footer .explore a{
    text-decoration: none;
    color: #e4dcdc;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    transition: 0.5s;
    
}

