*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    cursor:crosshair ;
}
body{
    margin: 0;
    background-color: #181818;
    overflow-x: hidden;
}
/* Appear - Animation */
@keyframes appear{
    from{
        opacity: -20;
    }
    to{
        opacity: 1;
    }
}
.block{
    animation: appear 1s ease-in;
    animation-timeline:view();
    animation-range: entry 0% cover 30%;
}
/* Appear - Animation */
@keyframes appear{
    from{
        opacity: -20;

    }
    to{
        opacity: 1;
    }
}
.block-right{
    animation: appear 1s ease-in;
    animation-timeline:view();
    animation-range: entry 0% cover 30%;
}

body{
    background-color: #181818;
    scroll-behavior: smooth;
}
.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
    opacity: 0.7;
    scroll-behavior:smooth; 
}

.video-background video {
  width: 100%;
  height: 100%;
  object-fit: cover;       
}
.app-container{
    height: auto;
    width: 100%;
    justify-content: center;
    align-items: center;
    z-index: -1;
    scroll-behavior: smooth;
    
}
.app-container::-webkit-scrollbar{
    display: none;
}

.block{
    margin: 60px 0px;
}


@media (min-width: 1025px) {

    body {
        max-width: 1440px;
        margin: auto;
    }
}


/*Description*/
.description{
    height: 300px;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    text-align: center;
}
.description h1{
    padding-top: 50px;
    font-weight: 700;
    font-size: 2.5rem;
    padding-left: 50px;
    text-align: center;
    color:#7A38FC;
}
.description h4{
    font-size: 16px;
    font-weight: 400;
    padding: 10px 0px;
    padding-left: 50px;
    text-align: center;
    color: tomato;
    letter-spacing: 1.2px;
}
.description h5{
    font-size: 16px;
    font-weight: 400;
    padding: 20px 150px;
    text-align: center;
    letter-spacing: 1px;
    color: lightgray;

}
/*Event-overview*/
.Event-overview{
    height: auto;
    width: auto;
    margin: 0px 140px ;
    padding: 40px 0px;
    text-align: center;
    color: #ffffff;
}

.Event-overview h1{
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    color: #7A38FC;

}
.Event-overview h5{
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1.2px;
    padding: 10px 0;
    color: tomato;
}
.Event-overview .detail{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 30px 60px ;
    color: #ffffff;
    gap: 0px;
}
.Event-overview .com-detail{
    position: relative;
    height: 200px;
    width: 200px;
    border-radius: 10px;
    padding: 45px 0;
    margin: 0 40px;
    background-color:rgba(60, 54, 59, 0.5) ;
    transition: 0.5s;
    background: linear-gradient(
    to bottom,
    rgba(168, 75, 227, 0.5),
    rgba(168, 75, 227, 0.4),
    rgba(0, 0, 0, 0.3)

);
    transition: background 0.3s ease, transform 0.2s ease;
    box-shadow: 0 0 10px #8a2be2;
} 
.Event-overview .com-detail:hover{
    transform: translateY(-10px);
    background: linear-gradient(rgba(168, 75, 227, 0.5));
    box-shadow: 0 0 20px #a84be3;
}
.Event-overview .com-detail .fa-solid{
    font-size: 40px;
}
.Event-overview .com-detail h6{
    font-size: 17px;
    font-weight: 400;
    padding: 20px 0;
}
/*store*/
.Store{
    height: 250px;
    width: auto;
    margin: 0px auto ;
    padding: 20px 0px;
    text-align: center;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.Store h1{
    text-align: center;
    font-size: 35px;
    color: #7A38FC;
}
.Store h5{
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1.2px;
    padding: 0px 0;
    color: tomato;
}
.detail{
    color:lightgray;
    padding-top: 0px;
}
/*fest*/
.fest{
    height: 200px;
    width: auto;
    margin: 0px auto ;
    padding: 40px 0px;
    text-align: center;
    color: #ffffff;
}
.fest h1{
    text-align: center;
    font-size: 30px;
    color: #7A38FC;
}
.fest h5{
    font-size: 18px;
    font-weight: 400;
    padding: 20px 150px;
    text-align: center;
    color: lightgray;
}
/* Popup box 
.popup{
    background-color: #ffffff;
    height: 300px;
    width: 500px; 
    border-top: #00ff62 7px solid;
    padding: 10px 0px   ;
    position: absolute;
    bottom: 300px;
    left: 500px;
    display:none;
}
.popup img{
    margin: 0px 180px;
}
.popup h3{
    margin: 0px 110px;
    font-family: 'Times New Roman', Times, serif;
    padding: 30px 0px;
    font-size: 19px;
}   
.popup a{
    text-decoration: none;
    color: white;
    padding: 10px 30px;
    border-radius: 10px;
    font-family: Times New Roman;
    color: rgb(44, 158, 41);
    box-shadow: rgb(44, 158, 41) 0px 0px 10px;
    margin: 0px 170px;
}

*/
/* Footer content */


.footer{
    display: flex;
    flex-direction: column;
}
.footerdiv{
    background-color:#000000;
    color: white;
    height: auto;
    width:auto;
    display: flex;
    flex-direction: row;
    padding: 40px 270px;
    gap: 80px;
}
.footerdiv .media{
    display: flex;
    flex-direction: row;
}
.footerdiv .map iframe{
    border-radius: 10px;
} 
.footerdiv .map h1 ,.detail h1{
    font-size: 25px;
    color: rgb(255, 208, 0);
}
.footerdiv .detail{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 10px;
}

.footerdiv .detail .reachout,.media{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.footerdiv .detail .reachout h5{
    font-weight: 200
}
.footer .copyright{
    height: 50px;
    background-color: #000000;
    text-align: center;
    color:rgb(255, 255, 255) ;
    border-top: 1px solid rgb(59, 55, 55); 
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1024px) {

    .Event-overview,
    .Store,
    .fest {
        width: 100%;
        margin: 0;
        padding: 40px 20px;
    }

    .Event-overview .detail {
        flex-wrap: wrap;
        justify-content: center;
    }

    .Event-overview .com-detail {
        margin: 20px;
    }

    .description h5 {
        padding: 20px 60px;
    }
}
@media (max-width: 768px) {

    /* Description Section */
    .description {
        height: auto;
        padding: 30px 15px;
    }

    .description h1 {
        font-size: 2rem;
        padding-left: 0;
        padding-top: 20px;
    }

    .description h4 {
        padding-left: 0;
        font-size: 14px;
    }

    .description h5 {
        padding: 15px;
        font-size: 14px;
    }

    /* Event Overview */
    .Event-overview h1 {
        font-size: 28px;
    }

    .Event-overview .detail {
        flex-direction: column;
        align-items: center;
    }

    .Event-overview .com-detail {
        width: 85%;
        height: auto;
        padding: 30px 0;
    }

    /* Store & Fest */
    .Store,
    .fest {
        height: auto;
        padding: 30px 15px;
    }

    .fest h5 {
        padding: 15px;
        font-size: 15px;
    }
}
@media (max-width: 480px) {

    .description h1 {
        font-size: 1.7rem;
    }

    .Event-overview .com-detail {
        width: 100%;
    }

    .Event-overview .com-detail .fa-solid {
        font-size: 32px;
    }
}
