*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    cursor:crosshair ;
}
body{
    height: auto;
    background-color: #181818;
    scroll-behavior: smooth;
}
.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
    opacity: 0.7;
    scroll-behavior:smooth; 
}

.video-background video {
  width: 100%;
  height: 100%;
  object-fit: cover;       
}
.app-container{
    height:835px;
    width: 100%;
    justify-content: center;
    align-items: center;    
    z-index: 100;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
.app-container::-webkit-scrollbar{
    display: none;
}

.block{
    margin: 60px 0px;
}
/* Nav- bar */
@media (max-width:600px) {
    .app-container{
        height: auto !important;
        width: auto !important;
        padding: 0 !important;
        margin: 0 !important ;
    }
}
@media (max-width:600px) {
    .main-content{
        height: auto !important;
        margin: 50px auto !important;
        padding: 0 !important;
        overflow-x: hidden;
    }
    .main-content .about .detail{
        margin:  0 !important;
        padding: 0 !important ;
    }
    .main-content .about .detail h1{
        text-align: center !important;
        font-size: 11vw !important;
    }
    .main-content .about .detail .blaze{
        font-size: 11vw !important;
    }
    .main-content .description h5{
        font-size: 2.5vw !important;
    }
    .main-content .date-time-container{
        padding: 0 !important;
        margin: 0 !important;
        margin-top: 25px !important;
        margin-left:15px !important ;
    }
    .main-content .date-time-container .com{
        height: 10vh !important;
        width: 100px !important;
        margin: 0 !important;
        padding: 0 !important;
        gap: 5vw !important;
    }
    .main-content .date-time-container .count{
        font-size: 25px !important;
    }

}

@media (max-width:1200px) {
    .menus{
        display: none !important;
    }
    .hambuger{
        display: flex !important;
    }
    .credential-detail{
        margin-right: 5%;
        display: flex !important;
        gap: 20px !important;
    }
    .credential-detail .Credentail .login{
        display: none !important;
    }
    .Gallery-container .gallery .mob-image{
        display: none !important;
    }
}
/*lap*/
.nav-bar{
    display: flex;
    flex-direction:row;
    top: 0px;
    z-index: 1000;
    position: sticky ;
    justify-content: space-between;
    background: rgba(10, 0, 20, 0.9);
    box-shadow: 0 0 25px rgba(122, 56, 252, 0.3);
    padding: 12px 1vw;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.nav-bar .logo{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: #fff;
    text-shadow: 0 0 10px #A855F7, 0 0 25px #E11D48;
    letter-spacing: 1px;
}
.logo:hover {
    text-shadow: 0 0 25px #C77DFF, 0 0 50px #FF2E63;
}
.nav-bar .logo h1{
    font-family: Avanta Garde;
}
.nav-bar .menus{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 20px;
}
.nav-bar .menus li{
    list-style: none;
    margin: 0 auto;
    padding: 0 2vw;
    margin-right: 40px;
}
.nav-bar .menus a{
    text-decoration: none;
    color: #ddd2d2;
    font-size: 18px;
    font-family: Times New Roman;
    transition: 0.5s;
    position: relative;
}
.nav-bar .menus a:hover{
    color: #EAEAEA;
    transform: scale(1.1);
    text-shadow: 0 0 10px #7A38FC, 0 0 20px #FF2E63;
}
.nav-bar .menus a::after{
    content: '';
    position: absolute;
    top: 20px;
    left: 0px;
    height: 2px;
    width: 0;
    transition-duration: 100ms;
    background: linear-gradient(90deg, #FF2E63, #7A38FC);
    transition: width 0.3s ease;
    box-shadow: 0 0 8px #7A38FC, 0 0 15px #FF2E63;
}
.nav-bar .menus a:hover:after{
    width: 100%;
}
.nav-bar .Current-page::after{
    animation: fade-in-out 2s infinite;
}
@keyframes fade-in-out{
    0%,100%{
        width: 0;
    }
    50%{
        width: 100%;
    }
}
/* About C*/
.nav-bar .menus .about-dec{
    position: absolute;
    height: 100px;
    width: 180px;
    background-color: #000000;
    top: 50px;
    right: 885px;
    padding: 0px 0px;
    justify-content: space-between;
    display: none;
}
.nav-bar .menus .about-dec li{
    list-style: none;
    margin: 0px 0px;
}
.nav-bar .menus .about-dec a{
    color:#00ffe7;
    font-size: 15px;
    font-family:'Times New Roman', Times, serif ;
    text-decoration: none;
    font-weight: 150;
    transition: background 0.3s ease, color 0.3s ease;

}
.nav-bar .menus .about-dec a:hover{
    background-color: #000000;
    color: #00ffe7;
}

.nav-bar .menus .about-dec .about-univ{
    height: 50%;
    padding: 15px 0px;
}
.nav-bar .menus .about-dec .about-univ:hover{
    background-color: #000000;
    color: #00ffe7;
}
.nav-bar .menus .about-dec .about-dept{
    background-color: #000000;
    height: 50%;
    padding: 15px 0px;
}
.nav-bar .menus .about-dec .about-dept:hover{
    color: #00ffe7;
}
.nav-bar .menus .about-dec .about-event{
    background-color: #000000;
    height: 50%;
    padding: 15px 0px;
}
.nav-bar .menus .about-dec .about-event:hover{
    color: #00ffe7;
}
/* Event C*/
.nav-bar .menus .event-dec{
    position: absolute;
    height: 100px;
    width: 170px;
    background-color: #000000;
    color: #00ffe7;
    top: 50px;
    right: 755px;
    padding: 0px 0px;
    justify-content: space-between;
    display: none;
}
.nav-bar .menus .event-dec li{
    list-style: none;
    margin: 0px 0px;
}
.nav-bar .menus .event-dec a{
    color: #00ffe7;
    font-size: 15px;
    font-family:'Times New Roman', Times, serif ;
    text-decoration: none;
    font-weight: 150;
    transition: background 0.3s ease, color 0.3s ease;

}
.nav-bar .menus .event-dec a:hover{
    color: #00ffe7;
}
.nav-bar .menus .event-dec .Tech{
    background-color: #000000;
    height: 50%;
    padding: 15px 0px;
}
.nav-bar .menus .event-dec .Tech:hover{
    color: #00ffe7;
}
.nav-bar .menus .event-dec .Non-tech {
    background-color: #000000;
    height: 50%;
    padding: 15px 0px;
}
.nav-bar .menus .event-dec .Non-tech:hover{
    color: #00ffe7;
}
.credential-detail{
    display: flex;
    flex-direction: row;
    gap: 5px;
}
/*Contact*/
.Credentail{
    transition: 0.5s;
    animation: fadein 2s infinite;
    display: flex;
    flex-direction: row;
    margin-top: 3px;
}
@keyframes fadein{
    0%,100%{
        opacity: 0.7;
    }
    50%{
        opacity: 1;
    }
}

.Credentail li{
    list-style: none;
    padding: 4px 1vw;
    border-radius: 5px;
    background: linear-gradient(90deg, #7A38FC, #FF2E63);
    color: #fff;
    box-shadow: 0 0 10px #7A38FC, 0 0 20px #FF2E63;
    transition: 0.3s;
}

.Credentail a{
    text-decoration: none;
    color:#FEF2E2;
    font-size: 18px;
    padding: 0px 10px;
}
.Credentail .login:hover {
    transition: 0.5s;
    transform: scale(1.1);
    
}

/* navbar - tab*/

/* profile */
.profile{
    color: #ffffff;
    margin: 2px 0px;
    cursor: pointer;
    scroll-behavior: smooth;
    display: none;
}
.profile .fa-circle-user{
    font-size: 32px;
}
.profile-detail{
    height: 240px;
    width: 200px;
    overflow-x: auto;
    background: #0A0A0A;
    box-shadow: 0 0 15px #7A38FC50;
    color: #ffffff;
    position: absolute;
    right: 20px;
    top: 55px;
    border-radius: 5px;
    display: none;
    transition: 0.5s;
}
.profile-detail img{
    border-radius: 50%;
    padding: 0 20px;
    margin: 5px 20px;
    
}
.profile-detail h4{
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    padding: 5px 0;
    text-align: center;
}
.icon{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top:15px ;
}
.icon .com-icon{
    height: 30px;
    width: 30px;
    color: #000000;
    padding: 6px 5px;
    border-radius: 5px;
}
.baricon{
    font-size: 20px;
    position: absolute;
    right: 200px;
    padding: 5px 0  ;
    display: none;
}


/*hamburger*/
.hambuger{
    height: 30px;
    width: 35px;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-top: 3px;
    display: none;
}
.hambuger button{
    background-color:#00BFFF;
    border: none;
    height: 30px;
    width: 30px;
}
.hambuger-menu{
    list-style: none;
    display: none;
    background-color: #a01fd3; 
    opacity: 0.8;
    padding-top: 10px;   
}
.hambuger-menu button{
    display: flex;
    margin-left: auto;
    margin-right: 20px;
    height: 25px;
    width: 30px;
    justify-content: center;
    align-items: center;
}
.hambuger-menu ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    padding-top: 20px;
}
.hambuger-menu a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color: #000000;
}
.hambuger-menu .Credentail .login{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-left: auto;
}
/*Main-Container*/
.main-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 500px;
    margin-top: 115px;
}
/*Contact-us*/
.contact-us {
    height: auto;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    padding: 20px 20px;
    color:rgb(255, 255, 255) ;
    background:rgba(10, 0, 20, 0.5);
    transition: 0.5s;
    
}
.contact-us:hover{
    transform: scale(1.1);
}
.contact-us h1{
    font-size: 3rem;
    font-family: "IM Fell English", "IM Fell English SC", serif;
    font-weight: 500;
    text-align: center;
    padding-bottom: 20px ;
    
}
.contact-us .form-container{
    display: flex;
    flex-direction: row;
    padding: 20px 30px;
}
.contact-us .form-container input{
    padding:5px 25px;
    outline: none;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
}
.contact-us .form-container label{
    font-size: 19px;
}

.contact-us .form-container table{
    margin: 0px 20px;
}
.contact-us .form-container td{
    padding:10px 0px;

}
.contact-us  button{
    margin: 20px auto;
    display: flex;
    justify-content: center;
    padding: 10px 50px;
    font-size: 17px;
    font-weight: 300;
    border-radius: 10px;
    border: none;
    background-color: #a84be3;
    color: #ffffff;
}
/* Footer */
.footer{
    display: flex;
    flex-direction: column;
    background-color:#000000;
    width:100%;
}
.footerdiv{
    
    color: white;
    height: auto;
    width:auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    gap: 80px;
}
.footerdiv .media{
    display: flex;
    flex-direction: row;
}
.footerdiv .map iframe{
    border-radius: 10px;
} 
.footerdiv .map h1 ,.detail h1{
    font-size: 25px;
    color: rgb(255, 208, 0);
}
.footerdiv .detail{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 10px;
}

.footerdiv .detail .reachout,.media{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.footerdiv .detail .reachout h5{
    font-weight: 200
}
.footer .copyright{
    height: 50px;
    background-color: #000000;
    text-align: center;
    color:rgb(255, 255, 255) ;
    border-top: 1px solid rgb(59, 55, 55); 
    display: flex;
    justify-content: center;
    align-items: center;
}